extends layout
 
block title
	title Networth Example
 
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='javascript/main.js')

block stylesheets
	style
		include style.css

block content
	h1 Paycheck Calculator

	div#paycheckCalculator
		div#agi AGI: 
			input#AGI(type='number', name='AGI', placeholder='AGI')
		div Filing Status: 
			select#filingStatusSelect
				each filingStatus in pageInfo.filingStatuses
						option(value='#{filingStatus.id}') #{filingStatus.statusname}
		div#calc 				
			input#calculate(type='submit',value='Calculate Takehome Paycheck')

		div#results 
