/* style.css */

.table { display: table; table-layout: fixed; width: 100%;} 
.tableRow { display: table-row; width: 100%;}
.tableCell { display: table-cell; width: 100%;}

h1 {text-align: center;}

div#paycheckCalculator{
	margin: auto; 
	text-align: left;
	width: 500px;
}

.tableCell { 
	border: solid;
}



.sectionHeading { 
	width: 100%;
	font-weight: bold;
}