/* style.css */

.table { display: table; } 
.tableRow { display: table-row; }
.tableCell { display: table-cell; }

h1 {text-align: center;}

div#paycheckCalculator{
	margin: auto; 
	text-align: left;
	width: 17500px;
}

table, th, td {
	border: solid;
	border-width: 1px;
}

.filledValue {
	text-align: center;
}

#input {
	width: 1750px;
}
#paystub {
	float: left;
	width:750px;
}
#pieChart {
	float: right;
	width: 500px;
}