/* style.css */

.table { display: table; } 
.tableRow { display: table-row; }
.tableCell { display: table-cell; }

h1 {text-align: center;}

div#paycheckCalculator{
	margin: auto; 
	text-align: left;
	width: 500px;
}

.paycheckInfo {
	text-align: right;
}
