h1 {text-align: center;}
/*
div#paycheckCalculator{
	width: 1500px;
}

div#input {
	width: 1500px;
}

div#leftInput {
	float: left;
	width: 600px;
}
div#rightInput {
	float: right;
	width: 600px;
}
div#paystub {
	float: left;
	width: 600px;
}
div#pieChart {
	float: right;
	width: 600px;
}
*/
table, th, td {
   border: 1px solid black;
}