<div> Deduction Name:
	<input id="deductionNameInput" type='text' name='deductionNameInput' placeholder='Deduction name' ng-model="deduction.deductionNameInput" ng-change="calculate()">
	<span> Deduction Amount: </span>					
	<input id="deductionAmountInput" type='number' name='deductionAmountInput' placeholder='Deduction Amount' ng-model="deduction.deductionAmountInput" ng-change="calculate()">
	Exempt From: 
	<label class="checkbox-inline">
		<input id="exemptFromFedInput" type="checkbox" name="deductionsExempt" ng-model="deduction.exemptFromFedInput" ng-change="calculate()">Federal
	</label>
	<label class="checkbox-inline">
		<input id="exemptFromStateInput" type="checkbox" name="deductionsExempt" ng-model="deduction.exemptFromStateInput" ng-change="calculate()">{{ state.name || "State" }}
	</label>
	<label class="checkbox-inline">
		<input id="exemptFromSSInput" type="checkbox" name="deductionsExempt" ng-model="deduction.exemptFromSSInput" ng-change="calculate()">Social Security
	</label>
	<label class="checkbox-inline">
		<input id="exemptFromMedInput" type="checkbox" name="deductionsExempt" ng-model="deduction.exemptFromMedInput" ng-change="calculate()">Medicare
	</label>
    <span ng-if="$last" class="glyphicon glyphicon-plus-sign" ng-click="addDeduction()"> </span>
</div>